NODE_ENV=development
PORT=3000

PASSWORD_SALT_ROUNDS=2
JWT_SECRET=super-secret-password

POSTGRES_USER=adminuser
POSTGRES_PASSWORD=adminpass
POSTGRES_DB=url-shortener
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
